body {
  background-color: #787474;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-app {
  background-color: #2d2424;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  max-width: 600px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #0056b3;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
  color: rgb(157, 33, 174);
}

ol {
  list-style: none;
  padding: 0;
 
}

li {
  margin-bottom: 10px;
   color: rgb(157, 33, 174);
}

button {
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: rgb(36, 32, 32);
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
button .correct-answer {
  background-color: #8bc34a; /* Green color for correct answer */
  color: #fff;
}

button .incorrect-answer {
  background-color: #ff5722; /* Red color for incorrect answer */
  color: #fff;
}

.timer {
  margin-top: 20px;
  font-size: 18px;
  color: #0c785d;
}

.score-section {
  font-size: 24px;
}

.score-section button {
  margin-top: 20px;
}

.score-section p {
  font-size: 18px;
}
